<!DOCTYPE html>
<html>

<head>
  <title>Redirecting - NDA</title>
  <link rel="icon" type="image/icon" href="../images?name=nda_logo.png" />
  <script type="text/javascript" language="JavaScript">
    function redirect() {
      window.location = 'REDIRECT_URL';
    }
    redirect();
  </script>
</head>

<body>
</body>

</html>